.schedule {
  margin: 20px 0;
  display: grid;
  grid-gap: 20px;
  &__team-card {
    @include card;
    border: 2px solid $black;
    padding: 20px;
  }
  &__team-info {
    margin: 30px 0;
  }
  &__team-name {
    height: 54px;
    margin: 0;
  }
  &__team-league {
    margin: 0;
    margin-top: 10px;
  }
}

.event {
  border-top: 1px solid $black;
  &:last-child {
    p:last-child {
      margin-bottom: 0;
    }
  }
  &__date {
    margin-bottom: 16px;
    &:last-child {
      font-size: 1.4rem;
    }
  }
  &__offseason {
    font-size: 1.6rem;
  }
}

.event.hidden {
  display: none;
}

.schedule-section-title {
  position: relative;
  .refresh {
    @include card;
    display: inline-block;
    font-size: 1.4rem;
    padding: 5px 10px;
    width: auto;
    border: 1px solid $black;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
      box-shadow: 0px 0px 10px 2px lighten($black, 5);
    }
  }
}

@media (min-width: 500px) {
  .schedule {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1000px)  {
  .schedule {
    grid-template-columns: repeat(3, 1fr);
  }
}