.footer {
  background: $black;
  padding: 20px 0;
  line-height: 1.6;
  text-align: center;
  p, a {
    color: $white;
    margin: 0;
    text-decoration: none;
  }
}

@media (min-width: 769px) {
  .footer {
    .wrapper {
      display: flex;
      justify-content: space-between;
    }
  }
}