.header {
  background: $black;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
  }
  &__title, &__date {
    color: $white;
  }
  &__date {
    text-align: right;
  }
}

.nav {
  justify-self: center;
  &__link {
    margin-top: 10px;
    padding: 5px;
    border: none;
    background: none;
    color: #a3a3a3;
    text-decoration: none;
    &.active {
      color: $white;
    }
  }
}