.main {
  &--logged-out {
    text-align: center;
  }
  &__log-in-out-button-container {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.log-in {
  @include card;
  border: 1px solid $black;
  width: 200px;
  margin-bottom: 20px;
}