.swal-modal {
  border: 2px solid $black;
  border-radius: 0px;
}

.swal-title {
  color: $black;
}

.swal-text {
  text-align: center;
}

.swal-button {
  color: $white;
  background: $black;
  border: 1px solid $black;
  border-radius: 0px;
  margin: 0;
  &:not([disabled]):hover {
    background: lighten($black, 10);
  }
  &__loader {
    width: auto;
  }
}

.swal-footer {
  text-align: center;
}