.league {
  display: grid;
  grid-row-gap: 20px;
  padding-bottom: 20px;
}

.team {
  &__button {
    @include card;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-column-gap: 20px;
  }
  &__badge {
    margin: 0 auto;
  }
  &__name {
    font-size: 2rem;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .league {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    margin: 0 auto;
  }
  .team {
    &__button {
      grid-template-columns: auto;
      grid-template-rows: auto;
      justify-items: center;
      align-content: space-between;
      height: 200px;
    }
  }
}

@media (min-width: 940px) {
  .league {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
  }
}

@media (min-width: 1280px) {
  .league {
    grid-template-columns: repeat(5, 1fr);
    max-width: 1280px;
  }
}