.footer {
  background: $black;
  padding: 20px 0;
  line-height: 1.6;
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
  p, a {
    color: $white;
    margin: 0;
    text-decoration: none;
  }
}