html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

h1, h2, button {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
}

button {
  cursor: pointer;
}

img {
  max-width: 100px;
}

.wrapper {
  max-width: 1280px;
  width: 95%;
  margin: 0 auto;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.section-title {
  @include section-title;
}

.not-a-fan-banner {
  text-align: center;
  margin-top: 50px;
  p {
    font-size: 2rem;
  }
  a {
    font-size: 1.8rem;
    text-transform: none;
  }
}