.league-form {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.league-submit {
  margin-left: 10px;
}

.team-by-league {
  display: grid;
  grid-row-gap: 20px;
  padding-bottom: 20px;
}

.team-badge {
  margin: 0 auto;
}

.team-name {
  font-size: 2rem;
  text-align: left;
}

.team-tile {
  border: 2px solid #333;
  background: none;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 10px;
  grid-column-gap: 20px;
  transition: all 0.1s;
  width: 100%;
}

@media (min-width: 768px) {
  .team-by-league {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    margin: 0 auto;
  }
  .team-tile {
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-content: space-between;
    height: 200px;
  }
  .team-tile .team-name {
    text-align: center;
  }
}

@media (min-width: 940px) {
  .team-by-league {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
  }
}

@media (min-width: 1280px) {
  .team-by-league {
    grid-template-columns: repeat(5, 1fr);
    max-width: 1280px;
  }
}