.schedule {
  margin: 50px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  &__team-card {
    border: 2px solid $black;
    padding: 20px;
  }
  &__team-info {
    margin: 30px 0;
  }
  &__team-name {
    height: 54px;
    margin: 0;
  }
  &__team-league {
    margin: 0;
    margin-top: 10px;
  }
}

.event {
  border-top: 1px solid $black;
  &:last-child {
    p:last-child {
      margin-bottom: 0;
    }
  }
  p {
    line-height: 1.6;
    margin-bottom: 16px;
    &:last-child {
      font-size: 1.4rem;
    }
  }
}

.event.hidden {
  display: none;
}