.schedule {
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__team-card {
    border: 2px solid $black;
    width: calc(33% - 10px);
    margin: 10px 20px 10px 0;
    padding: 20px;
    text-align: center;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  &__team-name {
    margin-bottom: 0;
  }
  &__team-league {
    margin-top: 10px;
    margin-bottom: 32px;
  }
}

.event {
  border-bottom: 1px solid $black;
  &:last-child {
    border-bottom: none;
  }
  p {
    line-height: 1.6;
    &:last-child {
      font-size: 1.4rem;
    }
  }
}